 form {
     width: 300px;
     height: 300px;
     margin: auto;
     background-color: rgba(255, 0, 247, 0.155);
 }

 label {
     width: 200px;
     height: 200px;
     line-height: 40px;
     /* padding: 60px; */
     padding-left: 70px;
 }
input {
    outline: none;
}
 input:focus {
    border: 2px solid rgba(255, 0, 0, 0.304);
 }
 h3 {
     text-align: center;
     padding-top: 20px;
 }

 .button {
     outline: none;
     width: 80px;
     text-align: center;
     margin-left: 50px;
 }